body{
  background-color: #1e1e1e;
  overflow: hidden; 
}

#features{
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

#tapButton {
  transition: transform 0.1s ease-in-out;
}

#tapButton:hover{
  transform: scale(1.1);
}

#tapButton:active{
  transform: scale(1.2);
}

p{
  color: #ffff;
  font-family: Arial;
  font-size: 1.2em;
  margin-bottom: 10px;
}

h1{
  color: #ffff;
  font-family: Arial;
  font-size: 3em;
  margin-bottom: 10px;
}

.sidepanel {
  height: 100%;
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.5s;
}

.sidepanel p {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  font-family: Arial;
  cursor: pointer;
  position: relative;
  transition: color 0.1s ease-in-out, transform 0.1s ease-in-out ;
}

.sidepanel b {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  font-family: Arial;
}

.sidepanel p:hover {
  color: #f1f1f1;
  transform: translateX(10px);
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
} 